#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.transaction-list-container {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-list-header {
  display: flex;
  background-color: #1b0909;
  padding: 10px;
  font-weight: bold;
}

.transaction-list-header > div {
  flex: 1;
  text-align: center;
}

/* Style for each Transaction component */
.transaction-container {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.transaction-container > div {
  flex: 1;
  text-align: center;
}

.transaction-container > div:first-child { /* Styles for  Dates */
  text-align: left;
  background-color: #010f07;
  padding: 10px ;
  text-align: center;
}

.transaction-container > div:last-child {/* Styles for  Amount */
  font-weight: bold;
  color: #2ecc71; 
}


 .transaction-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.transaction-container div {
  margin-bottom: 5px;
}

.transaction-container div:last-child {
  margin-bottom: 0;
}
